<!-- views/Comments.handlebars -->
<style>
html { overflow-y: visible; }
</style>

<div id="Comments" class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" align="center">Comments</h3>
    </div>
    <div class="panel-body">
      <div class="fb-comments" data-href="http://127.0.0.1:3000/#Comments" data-numposts="5" data-width="100%"></div>
    </div>
  </div>
</div>
