<!-- views/registered.handlebars -->
<div class="container-fluid" style="padding-top:30vh;">
  <h1 align="center">Registered</h1>
  <p align="center">Congratulations {{username}}, you have been registered!</p>
  <p align="center">You can now sign-in via the sign-in button</p>
</div>
